@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&family=IBM+Plex+Serif&family=JetBrains+Mono&display=swap');

font-family: 'IBM Plex Sans', sans-serif;
font-family: 'IBM Plex Serif', serif;
font-family: 'JetBrains Mono', monospace;

#content {
    width: 100vw;
    background-color: yellowgreen;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

#titleBox {
    padding: 10px;
    margin: 5px;
    text-align: center;
    background-color: black;
    color: white;

    box-shadow: -10px -10px #e74000;
    text-decoration: none;

    font-family: "IBM Plex Serif";
}

#stuffBox {
    width: auto;
    padding: 10px;
    margin: 5px;
    text-align: center;

    font-family: "JetBrains Mono";
    color: black;
}

.MathJax_Display {
    overflow-x: scroll;
    overflow-y: hidden;
}

div#stuffBox > a {
    color: midnightblue;
    text-decoration: none;
    margin-right: 10px;
    margin-left: 10px;
}

div#stuffBox > a:hover {
    color: blue;
    text-decoration: underline;
}

div#stuffBox > a:active {
    color: #e74000;
    text-decoration: underline;
}

a {
    color: midnightblue;
    text-decoration: none;
}

a:hover {
    color: blue;
    text-decoration: underline;
}

a:active {
    color: #e74000;
    text-decoration: underline;
}

a.logo {
    display: flex;
    width: min-content;

    margin: 20px;
    padding: 10px;
    text-align: center;
    background-color: black;
    color: white;

    box-shadow: -10px -10px #e74000;
    text-decoration: none;

    font-family: "IBM Plex Serif";
}

a.logo > h1 {
    font-family: "IBM Plex Serif";
    text-decoration: none;
    color: white;
    font-size: 27px;
}

div.topBar {
    display: flex;
    align-items: center;
    justify-content: left;

    width: 100vw;
    max-width: 95vw;
}

h1.title {
    margin: 20px 0px;

    padding: 0;

    width: available;
    color: black;

    font-size: 18px;

    font-family: "JetBrains Mono";
    font-weight: bolder;
}

h1.desc {
    margin: 20px 20px 20px 0px;
    padding: 0;
    color: darkgray;

    width: 65%;
    text-align: right;

    font-family: "JetBrains Mono";
    font-size: 16px;

    overflow: clip;
    text-align: right;
}

a.page:hover {
    text-decoration-color: #e74000;
}

div.pageContent {
    color: black;
    text-decoration: none;

    padding: 0px;
    background-color: lightgray;
    border-radius: 10px;

    font-family: "IBM Plex Sans";

    align-self: center;

    margin: 0 auto 20px;

    height: auto;
    width: 95%;

    display: table;
}

div.postContent {
    color: black;
    text-decoration: none;
    transition: transform .2s;

    padding: 0px;
    background-color: lightgray;
    border-radius: 10px;

    font-family: "IBM Plex Sans";

    align-self: center;

    margin: 0 auto 20px;

    height: auto;
    width: 95%;

    display: table;
}

div.postContent:hover {
    transform: scale(1.01);
}

.postContent > span {
    display: table-cell;
}

span.titleDesc {
    width: 80%;
    padding: 10px;
}

span.image {
    width: 20%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    border-radius: 0px 10px 10px 0px;
    overflow: hidden;
}

html, body {
    display: flex;
    margin: 0;
    padding: 0;

    height: 100vh;
    width: 100vw;
}

pre {
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

code.has-jax {
    font: inherit;
    font-size: 100%;
    background: inherit;
    border: inherit;
    color: #515151;
}

div.program {
    width: 100%;
    padding: 0;

    border-radius: 10px;
    -webkit-border-radius: 10px;
    overflow: hidden;

    background-color: #272822;
    color: lightgray;

    padding-bottom: 5px;

    display: flex;

    flex-flow: wrap;
}

#options {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 2.5px;
    width: 100%;
    font-family: "JetBrains Mono";
    display: block;
}

.option {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.optionSlider {
    width: 100%;
}

.optionNumber {
    width: 10%;
}

iframe {
    overflow: hidden;
    padding: 0;
    margin: 0;
    border: none;

    width: 100%;
    aspect-ratio: 2;
}